{% extends 'base.html' %}

{% block content %}
<section class="content-header">
  <h1>
    Product
    <small>product details</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="col-md-3 pull-right"><button type="button" class="btn btn-primary" onclick="window.location.href='addProduct'">Add Product</button></div>

    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      {% if product.has_other_pages %}
        <ul class="pagination">
          {% if product.has_previous %}
            <li><a href="?page={{ product.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in product.paginator.page_range %}
            {% if product.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if product.has_next %}
            <li><a href="?page={{ product.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
</section>
{% endblock %}