<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title>Page 1</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft00{font-size:25px;font-family:BCDEEE+Calibri;color:#000000;}
	.ft01{font-size:21px;font-family:BCDFEE+Calibri;color:#000000;}
	.ft02{font-size:19px;font-family:BCDEEE+Calibri;color:#000000;}
	.ft03{font-size:14px;font-family:BCDGEE+NirmalaUI;color:#202020;}
	.ft04{font-size:14px;font-family:BCDHEE+NirmalaUI;color:#202020;}
	.ft05{font-size:14px;font-family:BCDIEE+NirmalaUI;color:#202020;}
	.ft06{font-size:16px;font-family:BCDGEE+NirmalaUI;color:#202020;}
	.ft07{font-size:16px;font-family:BCDJEE+Mangal;color:#202020;}
	.ft08{font-size:16px;font-family:BCDIEE+NirmalaUI;color:#202020;}
	.ft09{font-size:16px;font-family:BCDKEE+Cambria;color:#202020;}
	.ft010{font-size:14px;font-family:BCDKEE+Cambria;color:#202020;}
	.ft011{font-size:16px;font-family:BCDEEE+Calibri;color:#000000;}
	.ft012{font-size:14px;font-family:BCDFEE+Calibri;color:#000000;}
	.ft013{font-size:16px;font-family:BCDLEE+Calibri;color:#000000;}
	.ft014{font-size:14px;font-family:BCDEEE+Calibri;color:#000000;}
	.ft015{font-size:14px;font-family:BCDLEE+Calibri;color:#000000;}
	.ft016{font-size:16px;font-family:BCDEEE+Calibri;color:#202020;}
	.ft017{font-size:13px;font-family:ABCDEF+FormFillingFont0;color:#000000;}
	.ft018{font-size:11px;font-family:ABCDEF+FormFillingFont0;color:#000000;}
	.ft019{font-size:16px;line-height:21px;font-family:BCDEEE+Calibri;color:#000000;}
	.ft020{font-size:16px;line-height:22px;font-family:BCDEEE+Calibri;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="Trolley_Forms001.png" alt="background image"/>
<p style="position:absolute;top:60px;left:132px;white-space:nowrap" class="ft00">OFFICE OF THE&#160;REGISTERING&#160;AUTHORITY,&#160;BEMETARA (C.G.)&#160;</p>
<p style="position:absolute;top:95px;left:400px;white-space:nowrap" class="ft01"><b>NOTESHEET&#160;</b></p>
<p style="position:absolute;top:125px;left:184px;white-space:nowrap" class="ft02">Sub&#160;:-&#160;Application&#160;for&#160;New&#160;Registration&#160;and&#160;Endorsement of HPA&#160;</p>
<p style="position:absolute;top:900px;left:258px;white-space:nowrap" class="ft02">Hence&#160;If approved&#160;may&#160;register&#160;&amp; Endorse&#160;HPA&#160;</p>
<p style="position:absolute;top:937px;left:108px;white-space:nowrap" class="ft03">&#160;प्रस्तुतकतI&#160;(</p>
<p style="position:absolute;top:937px;left:188px;white-space:nowrap" class="ft04">द्वारा</p>
<p style="position:absolute;top:937px;left:215px;white-space:nowrap" class="ft03">)</p>
<p style="position:absolute;top:937px;left:220px;white-space:nowrap" class="ft05">&#160;</p>
<p style="position:absolute;top:937px;left:245px;white-space:nowrap" class="ft05">&#160;</p>
<p style="position:absolute;top:937px;left:314px;white-space:nowrap" class="ft05">&#160;</p>
<p style="position:absolute;top:937px;left:383px;white-space:nowrap" class="ft05">&#160;</p>
<p style="position:absolute;top:936px;left:452px;white-space:nowrap" class="ft06">&#160;पजीयन</p>
<p style="position:absolute;top:936px;left:508px;white-space:nowrap" class="ft07">&#160;</p>
<p style="position:absolute;top:936px;left:517px;white-space:nowrap" class="ft06">लिलपक</p>
<p style="position:absolute;top:936px;left:565px;white-space:nowrap" class="ft08">&#160;</p>
<p style="position:absolute;top:963px;left:108px;white-space:nowrap" class="ft08">&#160;</p>
<p style="position:absolute;top:963px;left:177px;white-space:nowrap" class="ft08">&#160;</p>
<p style="position:absolute;top:963px;left:245px;white-space:nowrap" class="ft08">&#160;</p>
<p style="position:absolute;top:963px;left:314px;white-space:nowrap" class="ft08">&#160;</p>
<p style="position:absolute;top:963px;left:383px;white-space:nowrap" class="ft08">&#160;</p>
<p style="position:absolute;top:963px;left:452px;white-space:nowrap" class="ft06">&#160;&#160;</p>
<p style="position:absolute;top:963px;left:461px;white-space:nowrap" class="ft07">बेमेतरा&#160;(छ.ग)</p>
<p style="position:absolute;top:964px;left:564px;white-space:nowrap" class="ft09">&#160;</p>
<p style="position:absolute;top:989px;left:108px;white-space:nowrap" class="ft09">&#160;</p>
<p style="position:absolute;top:1012px;left:108px;white-space:nowrap" class="ft010">&#160;</p>
<p style="position:absolute;top:1012px;left:177px;white-space:nowrap" class="ft010">&#160;</p>
<p style="position:absolute;top:1012px;left:245px;white-space:nowrap" class="ft010">&#160;</p>
<p style="position:absolute;top:1012px;left:314px;white-space:nowrap" class="ft010">&#160;</p>
<p style="position:absolute;top:1012px;left:383px;white-space:nowrap" class="ft010">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</p>
<p style="position:absolute;top:1011px;left:419px;white-space:nowrap" class="ft09">Registering&#160;</p>
<p style="position:absolute;top:1011px;left:446px;white-space:nowrap" class="ft09">Authority&#160;</p>
<p style="position:absolute;top:1011px;left:589px;white-space:nowrap" class="ft09">&#160;</p>
<p style="position:absolute;top:1011px;left:658px;white-space:nowrap" class="ft09">&#160;</p>
<p style="position:absolute;top:1011px;left:726px;white-space:nowrap" class="ft09">&#160;</p>
<p style="position:absolute;top:1032px;left:108px;white-space:nowrap" class="ft09">&#160;</p>
<p style="position:absolute;top:1032px;left:177px;white-space:nowrap" class="ft09">&#160; &#160; &#160; &#160; &#160;</p>
<p style="position:absolute;top:1032px;left:446px;white-space:nowrap" class="ft09">RTO, Bemetara (C.G)&#160;</p>
<p style="position:absolute;top:182px;left:116px;white-space:nowrap" class="ft02">S.&#160;No&#160;&#160;Class&#160;of&#160;Vehicle&#160;</p>
<p style="position:absolute;top:182px;left:555px;white-space:nowrap" class="ft02">Tractor&#160;Trailer&#160;</p>
<p style="position:absolute;top:215px;left:135px;white-space:nowrap" class="ft011">1.&#160;</p>
<p style="position:absolute;top:215px;left:184px;white-space:nowrap" class="ft011">Name&#160;of&#160;Applicant&#160;</p>
<p style="position:absolute;top:214px;left:555px;white-space:nowrap" class="ft012"><b>&#160;</b></p>
<p style="position:absolute;top:248px;left:135px;white-space:nowrap" class="ft011">2.&#160;</p>
<p style="position:absolute;top:248px;left:184px;white-space:nowrap" class="ft013">Father’s Name</p>
<p style="position:absolute;top:248px;left:290px;white-space:nowrap" class="ft011">&#160;</p>
<p style="position:absolute;top:248px;left:555px;white-space:nowrap" class="ft012"><b>&#160;</b></p>
<p style="position:absolute;top:282px;left:135px;white-space:nowrap" class="ft011">3.&#160;</p>
<p style="position:absolute;top:282px;left:184px;white-space:nowrap" class="ft011">Address&#160;</p>
<p style="position:absolute;top:282px;left:555px;white-space:nowrap" class="ft012"><b>&#160;</b></p>
<p style="position:absolute;top:316px;left:135px;white-space:nowrap" class="ft011">4.&#160;</p>
<p style="position:absolute;top:316px;left:184px;white-space:nowrap" class="ft011">Date&#160;of Sale&#160;Letter&#160;</p>
<p style="position:absolute;top:316px;left:555px;white-space:nowrap" class="ft012"><b>&#160;</b></p>
<p style="position:absolute;top:350px;left:135px;white-space:nowrap" class="ft011">5.&#160;</p>
<p style="position:absolute;top:350px;left:184px;white-space:nowrap" class="ft013">Maker’s Name</p>
<p style="position:absolute;top:350px;left:290px;white-space:nowrap" class="ft011">&#160;</p>
<p style="position:absolute;top:349px;left:555px;white-space:nowrap" class="ft014">Aadishakti&#160;Fabrication&#160;</p>
<p style="position:absolute;top:383px;left:135px;white-space:nowrap" class="ft011">6.&#160;</p>
<p style="position:absolute;top:383px;left:184px;white-space:nowrap" class="ft011">Chassis No.&#160;&#160;</p>
<p style="position:absolute;top:383px;left:555px;white-space:nowrap" class="ft012"><b>&#160;</b></p>
<p style="position:absolute;top:417px;left:135px;white-space:nowrap" class="ft011">7.&#160;</p>
<p style="position:absolute;top:417px;left:184px;white-space:nowrap" class="ft011">Engine&#160;No.&#160;</p>
<p style="position:absolute;top:417px;left:555px;white-space:nowrap" class="ft014">NA&#160;</p>
<p style="position:absolute;top:451px;left:135px;white-space:nowrap" class="ft011">8.&#160;</p>
<p style="position:absolute;top:451px;left:184px;white-space:nowrap" class="ft011">Month &amp;&#160;Year&#160;of&#160;Manufacture&#160;</p>
<p style="position:absolute;top:451px;left:555px;white-space:nowrap" class="ft012"><b>&#160;</b></p>
<p style="position:absolute;top:485px;left:135px;white-space:nowrap" class="ft011">9.&#160;</p>
<p style="position:absolute;top:485px;left:184px;white-space:nowrap" class="ft011">Name&#160;of&#160;the&#160;Dealer&#160;</p>
<p style="position:absolute;top:484px;left:555px;white-space:nowrap" class="ft014">Aadishakti&#160;Fabrication&#160;</p>
<p style="position:absolute;top:518px;left:131px;white-space:nowrap" class="ft011">10.&#160;</p>
<p style="position:absolute;top:518px;left:184px;white-space:nowrap" class="ft011">Trade&#160;Certificate&#160;No.&#160;&amp; Validity&#160;</p>
<p style="position:absolute;top:518px;left:555px;white-space:nowrap" class="ft012"><b>CG&#160;/&#160;25&#160;/&#160;TC&#160;/&#160;E&#160;/&#160;0004&#160;</b></p>
<p style="position:absolute;top:552px;left:131px;white-space:nowrap" class="ft011">11.&#160;</p>
<p style="position:absolute;top:552px;left:184px;white-space:nowrap" class="ft011">H. P. A&#160;if&#160;any&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Rs.&#160;</p>
<p style="position:absolute;top:552px;left:555px;white-space:nowrap" class="ft014">&#160;</p>
<p style="position:absolute;top:586px;left:131px;white-space:nowrap" class="ft011">12.&#160;</p>
<p style="position:absolute;top:586px;left:184px;white-space:nowrap" class="ft011">Trade&#160;Fees&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Rs.&#160;</p>
<p style="position:absolute;top:586px;left:654px;white-space:nowrap" class="ft014">1000&#160;/-&#160;</p>
<p style="position:absolute;top:620px;left:133px;white-space:nowrap" class="ft011">13&#160;</p>
<p style="position:absolute;top:620px;left:184px;white-space:nowrap" class="ft011">Trade&#160;Tax&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Rs.&#160;</p>
<p style="position:absolute;top:619px;left:658px;white-space:nowrap" class="ft014">600&#160;/-&#160;</p>
<p style="position:absolute;top:654px;left:131px;white-space:nowrap" class="ft011">14.&#160;</p>
<p style="position:absolute;top:654px;left:184px;white-space:nowrap" class="ft011">Registration&#160;Fees&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Rs.&#160;</p>
<p style="position:absolute;top:653px;left:658px;white-space:nowrap" class="ft014">300&#160;/-&#160;</p>
<p style="position:absolute;top:687px;left:131px;white-space:nowrap" class="ft011">15.&#160;</p>
<p style="position:absolute;top:687px;left:184px;white-space:nowrap" class="ft011">Smart&#160;Card&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Rs.&#160;</p>
<p style="position:absolute;top:687px;left:658px;white-space:nowrap" class="ft014">200&#160;/-&#160;</p>
<p style="position:absolute;top:721px;left:131px;white-space:nowrap" class="ft011">16.&#160;</p>
<p style="position:absolute;top:721px;left:184px;white-space:nowrap" class="ft011">Fitness&#160;Fees&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Rs.&#160;</p>
<p style="position:absolute;top:721px;left:555px;white-space:nowrap" class="ft014">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;-&#160;</p>
<p style="position:absolute;top:755px;left:131px;white-space:nowrap" class="ft011">17.&#160;</p>
<p style="position:absolute;top:755px;left:184px;white-space:nowrap" class="ft011">Insurance&#160;cover&#160;note&#160;No.&#160;&amp; Date&#160;</p>
<p style="position:absolute;top:754px;left:555px;white-space:nowrap" class="ft012"><b>Bajaj&#160;Allianz&#160;Insurance&#160;Co.&#160;</b></p>
<p style="position:absolute;top:789px;left:131px;white-space:nowrap" class="ft011">18.&#160;</p>
<p style="position:absolute;top:789px;left:184px;white-space:nowrap" class="ft019">Physical&#160;Particulars&#160;&#160;&#160;&#160;&#160;Shri&#160;<br/>Verification Made&#160;by &amp;&#160;Dt.&#160;<br/>Enclose&#160;:-&#160;<br/>Form&#160;No.&#160;20,&#160;21,&#160;22,&#160;Sale&#160;Invoice,&#160;Add.&#160;Proff,&#160;&#160;<br/>PAN&#160;Card/61,&#160;Photo/Envelope&#160;&#160;</p>
<p style="position:absolute;top:788px;left:555px;white-space:nowrap" class="ft014">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</p>
<p style="position:absolute;top:788px;left:589px;white-space:nowrap" class="ft015">………..Digsn………..Dt…………….</p>
<p style="position:absolute;top:788px;left:787px;white-space:nowrap" class="ft014">&#160;</p>
<p style="position:absolute;top:808px;left:678px;white-space:nowrap" class="ft014">&#160;</p>
<p style="position:absolute;top:951px;left:258px;white-space:nowrap" class="ft016">CG&#160;25&#160;</p>
<p style="position:absolute;top:985px;left:258px;white-space:nowrap" class="ft016">&#160;</p>
<p style="position:absolute;top:1019px;left:258px;white-space:nowrap" class="ft016">Dt.&#160;</p>
</div>
</body>
</html>
