<html>
<head>
		<meta charset="UTF-8">
<style>
	
	@page{
        size: letter portrait;
        @frame content_frame {
            left: 25pt;
            width: 562pt;
            top: 25pt;
			height: 750pt;
			padding: 15px;
			
            -pdf-frame-border: 1;    /* for debugging the layout */
        }
	}
	@page regular_template { margin: 2cm;	}
	@page last_template { margin: 2cm;	}

</style>
<head>
<body>
    <div>
		<h1 align="center" top="12"><font color="black" size="6">OFFICE OF THE REGISTERING AUTHORITY, BEMETARA (C.G.)</font></h1>
		<h2 align="center">NOTESHEET</h2>
		<h3 align="center">Sub :- Application for New Registration and Endorsement of HPA </h3> 
		<table style="border: 0.5px solid black;padding:5px; margin:15px;">
				<thead>
					<tr>
						<th width="20%">S. No</th>
						<th width="60%" align="left">Class of Vehicle</th>
						<th width="60%" align="left">Tractor Trailer </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center">1.</td>
						<td>Name of Applicant</td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">2.</td>
						<td>Father’s Name</td>
						<td>Sitakant Mishra</td>
					</tr>
					<tr>
						<td align="center">3.</td>
						<td>Address</td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">4.</td>
						<td>Date of Sale Letter</td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">5.</td>
						<td>Maker’s Name</td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">6.</td>
						<td>Chassis No</td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">7.</td>
						<td>Engine No.</td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">8.</td>
						<td>Month & Year of Manufacture</td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">9.</td>
						<td>Name of the Dealer</td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">10.</td>
						<td>Trade Certificate No. & Validity</td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">11.</td>
						<td>H. P. A if any </td>
						<td>Laxman Mishra</td>
					</tr>
					<tr>
						<td align="center">12.</td>
						<td>Trade Fees &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Rs
						</td>
						<td>1000 /- </td>
					</tr>
					<tr>
						<td align="center">13.</td>
						<td>Trade Tax &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Rs
						</td>
						<td>600 /- </td>
					</tr>
					<tr>
						<td align="center">14.</td>
						<td>Registration Fees &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;
							Rs
						</td>
						<td>300 /- </td>
					</tr>
					<tr>
						<td align="center">15.</td>
						<td>Smart Card </td>
						<td>200 /- </td>
					</tr>
					<tr>
						<td align="center">16.</td>
						<td>Fitness Fees &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
							Rs
						</td>
						<td>-</td>
					</tr>
					<tr>
						<td align="center">17.</td>
						<td>Insurance cover note No. & Date</td>
						<td><b>Bajaj Allianz Insurance Co. </b></td>
					</tr>
					<tr>
						<td align="center">18.</td>
						<td>Physical Particulars     Shri Verification Made by & Dt. Enclose :- Form No. 20, 21, 22, Sale Invoice, Add. Proff,  PAN Card/61, Photo/Envelope </td>
						<td>………..Digsn………..Dt…………….</td>
					</tr>
				</tbody>
		</table>
		<p align="center" >Hence If approved may register & Endorse HPA </p>
	</div>
	<!-- switch page templates -->
	<pdf:nexttemplate name="regular_template" />
	<pdf:nextpage/>
	<h1 align="center" >FORM 21 </h1>
	<h1 align="center">Aadishakti Fabrication </h1>
	<p align="center">Workshop - Near Kobiya Chowk, Berla Square, Bemetara, Distt – Bemetara (C.G)<br>Contact- 7000716629, 7000780209 </p>
	<p align="left">Date :05-12-2019</p>
	<p align="center">see rule 47(a) &(d)</p>
	<p>Regional Transport Officer, </p>
	<p>Bemetara</p>
	<p>To be issued by manufacturer /dealer or office of defense department in case of military auctioned vehicle for presentation along with approved for registration of a motor vehicle </p>
	<p>Certified that a brand-new TRACTOR TRAILORS </p>
	<p style="margin-top: 2px;margin-bottom: 2px;">Name of Buyer   :</p>  
	<p style="margin-top: 2px;margin-bottom: 2px;">Father’s Name   : </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">Address    	  : </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">1. Class of vehicle  	  : Tractor Trailer</p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">2. Makers Name  : Aadishakti Fabrication  </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">3. Chassis No.   :  </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">4. Engine No.   : NA</p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">5. Month &Year of Mfg. :   </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">6. Seating Capacity  : NA  </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">7. Unloaden Weight  : 1850 </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">8. Gross Vehicle Weight : 7850 </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">9. Fuel Used   : Non  </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">10. Type of Body  : Open </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">11. Color of Vehicle  : </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">12. Size of Tyre   : Front 9.00-16.00 Rear 9.00-16.00</p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">13. Wheel Base   : 2088 MM </p> 
	<p style="margin-top: 2px;margin-bottom: 2px;">14. Our Trade Certificate No.      :      <b>CG/25/TC/E-0004</b></p> 
	<p>&nbsp;</p>
	<h5 align="right">Authorized Signatory</h5>
	<pdf:nexttemplate name="last_template" />
	<pdf:nextpage/>
	<h1 align="center" >FORM 22 </h1>
	<h1 align="center">Aadishakti Fabrication </h1>
	<p align="center">Manufacturer of high quality Tractor Trailer & All Agricultural Equipment</p>
	<p align="center">[See rule 478(g), 115(6),{115a,124}, 126a &127]</p>
	<p align="left">Initial certificate of compliances with pollution standard, safety standard of component & road worthiness. </p>
	<h6 align="center">To be issued by the manufacturer</h6>
	<p>Certified that – Aadishakti Fabrication (Brand name of the vehicle)</p>
	<p>Bearing chassis no. {13124125125} and engine number ….(N A)…. Complied with provision of the motor vehicle act 1988 and the rule made there under </p>
	<p><b>TRADE CERTIFICATE NO. – CG/25/TC/E/0004</b></p>
	<p align="left">Date :05-12-2019</p>
	<p>&nbsp;</p>
	<h6 align="right">Your Sincerely,</h6>

	<p>&nbsp;</p>


	<p>&nbsp;</p>
	<h5 align="right">Authorized Signatory</h5>
	  
	  
	 
	 
	  
	
	
	 
	 
	
	
	 
	 
	
	 


</body>
</html>