{% extends 'base.html' %}

{% block content %}
<section class="content-header">
  <h1>
    User
    <small>User details</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="col-md-3 pull-right"><button type="button" class="btn btn-primary" onclick="window.location.href='addUser'">Add Button</button></div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      {% if users.has_other_pages %}
        <ul class="pagination">
          {% if users.has_previous %}
            <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in users.paginator.page_range %}
            {% if users.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if users.has_next %}
            <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
</section>
{% endblock %}